# NAME: ANIRUDDHAN N
# COURSE: FINLATICS DATA SCIENCE EXPERIENCE PROGRAM

**Q1) Write a program that prompts the user to input a year, checks whether it's a leap year or not, and then prints the result.**

In [2]:
yr = int(input("Enter a year: "))
if ((yr % 4 == 0 and yr % 100 != 0) or yr % 400 == 0):
    print(yr,':',"This is a leap year")
else:
    print(yr,':', "This is not a leap year")

Enter a year: 2023
2023 : This is not a leap year

**Q2) Write a Python program that prompts the user to input a word. The program should then determine and output the count of vowels (a, e, i, o, u) in the provided word. Additionally, consider that the word can be in either uppercase or lowercase.**

In [5]:
word=input("Enter a word:")
word=word.lower()
print(word)
count=0
for i in word:
    if i in ['a','e','i','o','u','A','E','I','O','U'] :
        count+=1
print("Number of vowels:",count)

Enter a word:ANIRUDDHan
Number of vowels: 4

**Q3) Write a Python program that allows the user to input a list of 6 names. After receiving the list, the program should print only the names that start with the letter 'a', regardless of whether the letter is uppercase or lowercase.**

In [14]:
names=[]
n=int(input("Enter the number of names:"))
for i in range(n):
    name=str(input("Enter a name:"))
    name=name.lower()
    names.append(name)
x=[]
for j in names:
    if j[0]=='a':
        x.append(j)
print("The names starting with letter 'a' are",x)

Enter the number of names:6
Enter a name:alvin
Enter a name:reigns
Enter a name:ambrose
Enter a name:rollins
Enter a name:daniel
Enter a name:bryan
The names starting with letter 'a' are ['alvin', 'ambrose']

**Q4) Write a Python program that takes a list of 10 integers as input. Your program should iterate through the list and print the following:
For each even number encountered, print the number squared.
For each odd number encountered, print the number cubed.**

In [19]:
n=list()
num = int(input("enter how many numbers for your problem "))
for i in range(num):
  n1 = int(input("enter the number "))
  n.append(n1)
for i in n:
  if i%2==0:
    print(i, " is an even integer,Hence its square is: ", i**2)
  else:
    print(i," is an odd integer, Hence its cube is: ",i**3)

enter how many numbers for your problem 10
enter the number 2
enter the number 3
enter the number 4
enter the number 5
enter the number 6
enter the number 7
enter the number 8
enter the number 9
enter the number 10
enter the number 11
2  is an even integer,Hence its square is:  4
3  is an odd integer, Hence its cube is:  27
4  is an even integer,Hence its square is:  16
5  is an odd integer, Hence its cube is:  125
6  is an even integer,Hence its square is:  36
7  is an odd integer, Hence its cube is:  343
8  is an even integer,Hence its square is:  64
9  is an odd integer, Hence its cube is:  729
10  is an even integer,Hence its square is:  100
11  is an odd integer, Hence its cube is:  1331

**Q5) Imagine you're ordering flowers from a local delivery service. They offer a selection of beautiful flowers, including roses. Each rose is priced at Rs. 10. Along with your choice of roses, you'll need to provide the count of roses you wish to order and the delivery distance. The delivery charges are as follows: Rs. 25 for distances within 5 kilometers, Rs. 50 for distances between 5 and 10 kilometers, and Rs. 75 for distances greater than 10 kilometers. Write a Python program that prompts the user to enter the count of roses and the delivery distance, then calculates and displays the total price to pay, including both the cost of roses and the delivery charge.**

In [39]:
n = int(input("The number of roses the customer would like to order "))
s= str(input("Enter the choice of rose: "))
n1 = int(input("The delivery distance "))
price = 0
if(n1==0):
  price=n*10
if(n1>0 and n1<5):
  price = n*10 + 25
elif(n1>=5 and n1<=10):
  price = n*10 + 50
elif (n1>10):
  price = n*10 + 75
print("Customer's choice of rose: ",s)
print("Customer has to pay total price of :",price, "for the ",s, "roses he ordered")

The number of roses the customer would like to order 10
Enter the choice of rose: white
The delivery distance 10
Customer's choice of rose:  white
Customer has to pay total price of : 150 for the  white roses he ordered

In [41]:
n = int(input("The number of roses the customer would like to order "))
s= str(input("Enter the choice of rose: "))
n1 = int(input("The delivery distance "))
price = 0
if(n1==0):
  price=n*10
if(n1>0 and n1<5):
  price = n*10 + 25
elif(n1>=5 and n1<=10):
  price = n*10 + 50
elif (n1>10):
  price = n*10 + 75
print("Customer's choice of rose: ",s)
print("Customer has to pay total price of :",price, "for the ",s, "roses he ordered")

The number of roses the customer would like to order 5
Enter the choice of rose: red
The delivery distance 8
Customer's choice of rose:  red
Customer has to pay total price of : 100 for the  red roses he ordered